<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>ToDo - @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @* @Scripts.Render("~/bundles/modernizr") *@
    @Styles.Render("~/bundles/boot1")
    <link href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' rel='stylesheet'>
    <script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js'></script>

</head>
<body>
<div>
    @Html.Partial("_Nav")
    @Styles.Render("~/Content/css2")
    @RenderBody()
    @Html.Partial("_Footer")
</div>
@RenderSection("scripts", required: false)
</body>
</html>